@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Lato"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Lato"),
    url("../fonts/lato-semibold.woff2") format("woff2"),
    url("../fonts/lato-semibold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Lato"), url("../fonts/lato-medium.woff2") format("woff2"), url("../fonts/lato-medium.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Lato"),
    url("../fonts/lato-regular.woff2") format("woff2"),
    url("../fonts/lato-regular.woff") format("woff");
}
