$font-family-main: "Lato", "Arial", sans-serif;

$main-green: #27ae60;
$light-green: #35b86c;
$dark-green: #6c997f;
$white: #ffffff;
$black: #000000;
$graphite: #2b2b2b;
$medium-gray: #bfbfbf;
$light-gray: #e8f7ee;
