.advantages {
  padding-top: 10.625vw;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 28.776vw;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 44.687vw;
  }
}

.advantages__wrapper {
  position: relative;
  display: flex;
  padding: 0 10.364vw;
  background-color: $main-green;
  background-image: url("../img/svg/circle.svg"),
    url("../img/svg/circle.svg");
  background-repeat: no-repeat;
  background-position: -10.572vw -12.5vw, right -10.5272vw bottom -12.5vw;
  background-size: 26.25vw auto, 26.25vw auto, 35vw auto;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 35vw;
    height: 100%;
    background-image: linear-gradient(64.37deg, #27ae60 8.32%, rgba(255, 255, 255, 0) 82.9%),
      url("../img/advantages-bg-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: "";

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(64.37deg, #27ae60 8.32%, rgba(255, 255, 255, 0) 82.9%),
        url("../img/advantages-bg-desktop@2x.png");
    }
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    align-items: center;
    background-image: url("../img/svg/circle.svg");
    background-position: right -25.39vw bottom -28.766vw;
    background-size: 65.625vw auto;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.advantages__text {
  margin-left: -0.52vw;
  color: $white;

  h2 {
    margin-top: 3.541vw;
    margin-bottom: 2.968vw;
    text-align: left;
    color: $white;
  }

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      max-width: 72.697%;
      margin-top: 7.812vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 0 8.75vw;

    h2 {
      max-width: 100%;
      margin-top: 17.812vw;
      margin-left: 2.5vw;
      margin-bottom: 12.187vw;
    }
  }
}

.advantages__columns {
  display: flex;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.advantages__list {
  width: 50%;
  font-weight: 500;
  font-size: 1.041vw;
  line-height: 1.4;

  &:nth-child(2n) {
    margin-left: 1.3vw;
  }

  @media (max-width: $tablet-width-max) {
    width: 90%;
    font-size: 2.604vw;

    &:nth-child(2n) {
      margin-top: 2.473vw;
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    font-size: 6.25vw;

    &:nth-child(2n) {
      margin-top: 5.937vw;
    }
  }
}

.advantages__item {
  position: relative;
  padding-left: 1.562vw;

  &:not(:first-child) {
    margin-top: 0.99vw;
  }

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }

  &::before {
    top: 0.417vw;
    left: 0;
    width: 0.677vw;
    height: 0.572vw;
    background-image: url("../img/svg/tick-small.svg");
  }

  &::after {
    top: 0.26vw;
    left: -0.517vw;
    width: 1.51vw;
    height: 1.25vw;
    background-image: url("../img/svg/tick-big.svg");
  }

  @media (max-width: $tablet-width-max) {
    margin-left: 2.734vw;
    padding-left: 3.906vw;

    &:not(:first-child) {
      margin-top: 2.473vw;
    }

    &::before {
      top: 1.302vw;
      width: 1.692vw;
      height: 1.432vw;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
    padding-left: 10vw;

    &:not(:first-child) {
      margin-top: 5.937vw;
    }

    &::before {
      top: 3.125vw;
      width: 4.062vw;
      height: 3.437vw;
    }
  }
}

.advantages__specialist {
  position: relative;
  width: 32.604vw;
  height: 30.312vw;
  margin-top: -10.625vw;
  order: -1;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet-width-max) {
    order: 0;
    width: 70.052vw;
    height: 65.104vw;
    margin-top: 0;
    margin-bottom: -9.505vw;
  }

  @media (max-width: $mobile-width-max) {
    width: 104.375vw;
    height: 96.875vw;
    margin-bottom: -3.75vw;
  }
}

.advantages__specialist-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.135vw;
  box-sizing: border-box;
  width: 18.072vw;
  margin: auto;
  padding: 0.468vw 2.083vw 0.312vw;
  font-size: 0.83vw;
  line-height: 1.4;
  background-color: $white;
  border: 0.052vw dashed $main-green;
  border-radius: 3.385vw;
  box-shadow: 0 0 0 0.26vw $white,
    0 1.093vw 6.927vw rgba(17, 95, 0, 0.21);

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-weight: bold;
  }

  span {
    margin-top: 0.26vw;
    font-weight: normal;
    font-size: 0.767vw;
    color: $dark-green;
  }

  @media (max-width: $tablet-width-max) {
    bottom: -4.557vw;
    width: 38.63vw;
    padding: 0.99vw 2.765vw 0.609vw 3.434vw;
    font-size: 1.953vw;
    border-width: 0.13vw;
    border-radius: 8.463vw;
    box-shadow: 0 0 0 0.52vw $white,
      0 2.734vw 17.317vw rgba(17, 95, 0, 0.21);

    span {
      margin-top: 0.52vw;
      font-size: 1.952vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    top: 100%;
    bottom: auto;
    width: 84.375vw;
    min-height: 19.687vw;
    padding: 2.812vw 4.687vw 3.437vw 5.937vw;
    font-size: 4.375vw;
    border-width: 0.312vw;
    border-radius: 20.312vw;
    box-shadow: 0 0 0 1.25vw $white,
      0 0.065vw 41.562vw rgba(17, 95, 0, 0.21);

    span {
      margin-top: 0;
      font-size: 4.375vw;
    }
  }
}
