.footer {
  margin-top: auto;
  padding: 2.604vw 29.322vw 3.697vw 33.958vw;
  color: $white;
  background-color: $main-green;

  @media (max-width: $tablet-width-max) {
    padding: 6.51vw 14.453vw 9.244vw;
  }

  @media (max-width: $mobile-width-max) {
    padding: 12.5vw 6.25vw 15.625vw;
  }
}

.footer__logo {
  margin-bottom: 2.083vw;

  &:hover,
  &:focus {
    color: $graphite;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 5.208vw;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 9.375vw;
  }
}

.footer__menu {
  margin-right: -5.73vw;
  margin-bottom: 2.057vw;

  @media (max-width: $tablet-width-max) {
    margin-right: -11.197vw;
    margin-bottom: 5.208vw;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 13.75vw;
  }
}

.footer__menu-item {
  @media (max-width: $mobile-width-max) {
    &:not(:last-child) {
      margin-bottom: 4.687vw;
    }
  }
}

.footer__conditions {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    opacity: 0.45;
  }
}

.footer__condition {
  display: flex;
  margin-right: 1.979vw;

  @media (max-width: $tablet-width-max) {
    margin-right: 4.947vw;
  }

  @media (max-width: $mobile-width-max) {
    &:not(:last-child) {
      margin-bottom: 7.187vw;
    }
  }
}

.footer__condition-link {
  font-size: 0.625vw;

  &:hover,
  &:focus {
    color: $graphite;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 1.562vw;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 3.75vw;
  }
}
