.header {
  display: flex;
  align-items: flex-start;
  margin: 2.083vw 20.52vw 0;

  @media (max-width: $tablet-width-max) {
    margin: 5.73vw 12.76vw 0 14.45vw;
  }
}

.header__logo {
  flex-shrink: 0;

  @media (max-width: $tablet-width-max) {
    font-size: 2.083vw;
  }
}

.header__nav {
  margin-left: 10.62vw;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
  }
}
