.instagram {
  @media (max-width: $tablet-width-max) {
    img {
      max-width: none;
      width: 151.823vw;
      margin-left: -25.651vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 0 5.313vw;

    p {
      margin-top: 5vw;
    }

    img {
      width: 231.875vw;
      margin-left: -38.5vw;
    }
  }
}


.instagram__link {
  padding-bottom: 0.052vw;
  border-bottom: 0.052vw solid $black;

  &:hover,
  &:focus {
    border-color: $main-green;
  }
}
