.logo {
  display: inline-block;
  vertical-align: top;
  font-size: 0.937vw;
  line-height: 1.4;
  font-weight: 700;

  @media (max-width: 1500px) {
    font-size: 1.1vw;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 2.083vw;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 5vw;
  }
}
