.main-nav {
  @media (max-width: $mobile-width-max) {
    &--opened {
      .main-nav__list {
        display: block;
      }
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: $tablet-width-max) {
    margin-top: 0.26vw;
    justify-content: flex-end;
  }

  @media (max-width: $mobile-width-max) {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding-top: 5vw;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $main-green;
    overflow-y: scroll;
  }
}

.main-nav__item {
  margin-right: 5.73vw;

  @media (max-width: 1500px) {
    margin-right: 3.226vw;
    margin-bottom: 0.645vw;
  }

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
    margin-bottom: 2.344vw;
    margin-left: 5.86vw;

    &:nth-child(2) {
      margin-right: 0.651vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 30vw;
    }
  }
}

.main-nav__link {
  display: block;
  padding-bottom: 0.26vw;
  font-size: 0.72vw;
  line-height: 1.4;
  font-weight: 600;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: $main-green;
    border-color: $rare-gray;
  }

  @media (max-width: 1500px) {
    font-size: 0.91vw;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 1.82vw;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 4.375vw;
    color: $white;
  }
}
