.products {
  padding-top: 50px;

  h2 {
    margin: 0 auto;
    margin-bottom: 85px;
  }

  @media (max-width: $mobile-width-max) {
    h2 {
      width: 85%;
      margin-bottom: 13.12vw;
    }
  }
}

.products__slider {
  position: relative;
  overflow: hidden;
}

.products__slider-list {
  display: flex;
  align-items: flex-start;
  position: relative;
  right: ((34.58vw * 3 + 0.88vw * 2) - 100vw) / 2;

  @media (max-width: $tablet-width-max) {
    right: 81.9vw;
  }

  @media (max-width: $mobile-width-max) {
    right: 85.15vw;
    margin: 0 auto;
    width: 70.31vw;
  }
}

.products__slide {
  width: 34.58vw;
  margin-right: 0.88vw;
  flex-shrink: 0;
  opacity: 0.3;
  transition: opacity 0.3s;

  &--active {
    opacity: 1;
  }

  @media (max-width: $tablet-width-max) {
    width: 86.45vw;
    margin-right: 2.21vw;
  }

  @media (max-width: $mobile-width-max) {
    width: 70.31vw;
    margin-right: 14.84vw;
  }
}

.products__slide-image {
  height: 13.54vw;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.52vw;
    border-top-right-radius: 0.52vw;
  }

  @media (max-width: $tablet-width-max) {
    height: 33.85vw;

    img {
      border-top-left-radius: 1.3vw;
      border-top-right-radius: 1.3vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    height: 81.25vw;

    img {
      border-top-left-radius: 3.125vw;
      border-top-right-radius: 3.125vw;
    }
  }
}

.products__slide-text {
  padding: 25px 30px 30px;
  text-align: center;

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 23.6px;
    font-weight: 700;
  }

  p {
    margin: 12px 0;
    font-weight: 600;
    color: $dark-green;
  }

  @media (max-width: $mobile-width-max) {
    padding: 4.68vw 3.125vw;

    p {
      font-size: 4.37vw;
      line-height: 1.49;
    }
  }
}

.products__button {
  position: absolute;
  top: 9.062vw;
  left: 29.06vw;
  padding: 0;
  width: 2.76vw;
  height: 2.76vw;
  background-color: $main-green;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $main-green;

    &::before {
      border-color: $main-green;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 1.041vw;
    left: 1.25vw;
    width: 0.52vw;
    height: 0.52vw;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: rotate(45deg);
  }

  &--next {
    left: auto;
    right: 29.06vw;

    &::before {
      left: auto;
      right: 1.25vw;
      transform: rotate(-135deg);
    }
  }

  @media (max-width: $tablet-width-max) {
    top: 22.65vw;
    left: 3.38vw;
    width: 6.9vw;
    height: 6.9vw;

    &::before {
      top: 2.6vw;
      left: 3.125vw;
      width: 1.3vw;
      height: 1.3vw;
    }

    &--next {
      left: auto;
      right: 3.38vw;

      &::before {
        left: auto;
        right: 3.125vw;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    top: 66.85vw;
    background-color: transparent;

    &::before,
    &::after {
      width: 4.19vw;
      height: 4.19vw;
      border-color: $main-green;
      border-width: 4px;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border: none;
      opacity: 0.3;
    }
  }
}
