.promo {
  padding-top: 8.75vw;
  background: url("../img/promo-bg-desktop@1x.jpg") no-repeat;
  background-size: 100vw auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 25.39vw;
    background-image: url("../img/promo-bg-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 36.25vw;
  }
}

.promo__wrapper {
  display: flex;
  margin: 0 15.57vw 0 20.52vw;
  color: $graphite;

  @media (max-width: $tablet-width-max) {
    margin: 0 4.437vw;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width-max) {
    margin: 0 4.375vw;
    flex-direction: column;
    align-items: center;
  }
}

.promo__text {
  width: 42%;

  h1 {
    margin: 0;
    margin-top: 9.47vw;
    font-size: 2.76vw;
    line-height: 1.06;
  }

  p {
    margin-top: 1.51vw;
    margin-bottom: 2.552vw;
    max-width: 70%;
    font-size: 1.197vw;
    line-height: 1.4;
    font-weight: 500;
  }

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52.28%;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 4.16vw;
    }

    p {
      margin-top: 3.776vw;
      margin-bottom: 6.77vw;
      font-size: 2.34vw;
      max-width: 71.038%;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;

    h1 {
      font-size: 7.812vw;
    }

    p {
      margin-top: 7.137vw;
      margin-bottom: 11.25vw;
      max-width: 79.38%;
      font-size: 5vw;
    }
  }
}

input[id^="promo"][type="radio"] {
  &:checked {
    & ~ .promo__slide-picture {
      display: block;
    }

    & + label {
      color: $graphite;

      &::after {
        opacity: 1;
      }
    }
  }
}

.promo__slider {
  position: relative;
  min-width: 58%;

  &::before {
    content: "";
    position: absolute;
    top: 4.583vw;
    right: 2.91vw;
    width: 21.875vw;
    height: 21.875vw;
    border: 2.083vw solid $white;
    background-color: $main-green;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $main-green;
    opacity: 0.1;
  }

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-top: 9.63vw;

    &::before {
      top: 1.953vw;
      right: 0;
      width: 54.68vw;
      height: 54.68vw;
      border-width: 5.2vw;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100vw;
    margin-top: 30.937vw;

    &::before {
      display: none;
    }
  }
}

.promo__slider-list {
  position: relative;
  min-height: 36.45vw;

  @media (max-width: $tablet-width-max) {
    min-height: 82.31vw;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
  }
}

.promo__slide {
  &--pregnant {
    label {
      top: 6.875vw;
      right: 23.75vw;
    }
  }

  &--feeding {
    label {
      top: 16.927vw;
      right: 28.341vw;
    }

    .promo__slide-picture {
      width: 23.375vw;
      height: 37.7vw;
      top: 0;
      right: 0;
    }
  }

  &--meal {
    label {
      top: 25.156vw;
      right: 25.764vw;
    }

    .promo__slide-picture {
      width: 24.47vw;
      height: 39.479vw;
      top: -3.375vw;
      right: 0;
    }
  }

  label {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 0.729vw;
    line-height: 1.4;
    color: $medium-gray;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      margin-left: 0.729vw;
      width: 0.885vw;
      height: 0.885vw;
      background-color: $main-green;
      border: 0.26vw solid $white;
      box-shadow: 0 0 0 1px $main-green;
      border-radius: 50%;
      opacity: 0.53;
    }

    &:hover,
    &:focus {
      color: $graphite;

      span {
        transform: scale(1.3) translateX(-1.23vw);
        transition-duration: 0.3s;
        transition-property: transform;
      }

      &::after {
        transform: scale(1.86);
        transition-duration: 0.3s;
        transition-property: transform;
        opacity: 1;
      }
    }
  }

  @media (max-width: $tablet-width-max) {
    label {
      right: auto;
      font-size: 1.82vw;

      &::after {
        margin-left: 1.822vw;
        width: 2.213vw;
        height: 2.213vw;
        border-width: 0.651vw;
      }

      &:hover,
      &:focus {
        span {
          transform: scale(1.23) translateX(-3.23vw);
        }

        &::after {
          transform: scale(1.86);
        }
      }
    }

    &--pregnant {
      label {
        top: 15.875vw;
        left: 12.932vw;
      }
    }

    &--feeding {
      label {
        top: 33.33vw;
        left: 9.723vw;
      }

      .promo__slide-picture {
        top: -4.947vw;
        left: 33.073vw;
        width: 50.781vw;
        height: auto;
      }
    }

    &--meal {
      label {
        top: 53.903vw;
        left: 9.895vw;
      }

      .promo__slide-picture {
        top: -11.458vw;
        left: 31.984vw;
        width: 58.203vw;
        height: auto;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;

    &--pregnant {
      .promo__slide-picture {
        width: 210vw;
      }
    }

    &--feeding {
      .promo__slide-picture {
        width: 81.25vw;
      }
    }

    &--meal {
      .promo__slide-picture {
        width: 81.25vw;
      }
    }

    label {
      position: static;
      justify-content: center;
      margin-bottom: 9.687vw;
      font-size: 5.625vw;
      font-weight: 700;
      color: $graphite;

      &::after {
        display: none;
      }

      &:hover,
      &:focus {
        span {
          transform: none;
        }
      }
    }
  }
}

.promo__slide-picture {
  display: none;
  position: absolute;
  top: 1.875vw;
  right: -15.537vw;
  width: 55.31vw;
  height: 38.385vw;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet-width-max) {
    width: 102.865vw;
    height: auto;
    top: 3.515vw;
    right: auto;
    left: 8.984vw;

    img {
      height: auto;
    }
  }

  @media (max-width: $mobile-width-max) {
    position: static;
    display: block;
  }
}

.promo__slider-controls {
  display: none;

  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

.promo__slider-button {
  top: 0;
  left: 4.375vw;
  bottom: 0;
  margin: auto;

  &--next {
    left: auto;
    right: 4.375vw;
  }
}
